.product_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.select2-selection__choice {
    background-color: #343a40 !important;
}

.alert-danger {
    margin-top: 7px !important;
}